.app-container {
  max-width: 50em;
  margin: auto;
}

@media (width <= 360px) {
  .app-container {
    width: 100%;
    margin: auto;
  }
}

@media (360px < width <= 480px) {
  .app-container {
    width: 100%;
    margin: auto;
  }
}

@media (480px < width <= 768px) {
  .app-container {
    width: 100%;
    margin: auto;
  }
}
