.sudoku_menu {
  width: 20em;
  padding-left: 1em;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button_number {
  position: relative;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin: 0.25rem 0.25rem;
  aspect-ratio: 1/1;
  background-color: var(--cell-bg-color);
  border-radius: 0.5rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  user-select: none;
}

.button_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.sudoku_button {
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;

  background-color: var(--cell-bg-color);
  border: 2px solid var(--cell-bg-color2);
  border-radius: 100%;
  padding: 1em;
}

.sudoku_button:disabled {
  background-color: var(--cell-bg-color2);
  cursor: auto;
}

.sudoku_button_icon {
  width: 2em;
  height: 2em;
}

.sudoku_button_text {
  margin-top: 0.5em;
  text-align: center;
  user-select: none;
  font-size: 0.9em;
}

.notes_mode {
  position: absolute;
  padding: 0.25em 0.5em;
  top: -0.5em;
  right: -1em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
}

.notes_button_border {
  border: 2px solid var(--color-blue-1);
}

.notes_mode.on {
  background-color: var(--color-blue-1);
}

.notes_mode.off {
  background-color: var(--color-tool-off);
}

.clues_counter {
  position: absolute;
  padding: 0.25em 0.5em;
  top: -0.5em;
  right: -0.5em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  background-color: var(--color-blue-1);
}

.clues_counter.off {
  background-color: var(--color-tool-off);
}

.bottom_row_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.number_counter {
  position: absolute;
  font-size: 0.5em;
  opacity: 0.8;
  top: 20%;
  right: 25%;
}

.button_number_full {
  background-color: var(--cell-bg-color2);
}

@media (hover: hover) {
  .sudoku_button:hover {
    background-color: var(--cell-bg-color2);
  }

  .button_number:hover {
    background-color: var(--cell-bg-color2);
  }
}

@media (hover: none) {
  .button_number:active {
    background-color: var(--cell-bg-color2);
  }

  .sudoku_button:active {
    background-color: var(--cell-bg-color2) !important;
  }
}

@media (width <= 360px) {
  .sudoku_menu {
    width: auto;
    padding-left: 0;
    max-width: 30em;
    margin-top: 1em;
  }

  .button_row {
    justify-content: space-around;
    width: auto;
    margin: 0.5em 1em 1em;
  }
  .sudoku_button {
    font-size: 0.8em;
    padding: 0.5em;
  }

  .sudoku_button-text {
    display: none;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button_number {
    -webkit-tap-highlight-color: transparent;
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
  }
}

@media (360px < width <= 480px) {
  .sudoku_menu {
    width: auto;
    padding-left: 0;
    max-width: 30em;
    margin-top: 1em;
  }
  .sudoku_button {
    font-size: 0.8em;
    padding: 0.7em;
  }

  .sudoku_button_text {
    display: none;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button_number {
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
  }

  .button_row {
    justify-content: space-around;
    width: auto;
    margin: 0.5em 1em 1em;
  }
}

@media (480px < width <= 768px) {
  .sudoku_menu {
    margin: auto;
    margin-top: 1em;
    padding-left: 0;
    width: 30em;
  }
  .sudoku_button {
    padding: 0.5em;
  }

  .sudoku_button_text {
    display: none;
  }

  .button_row {
    justify-content: space-around;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button_number {
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
  }
}
