.sudoku-menu {
  width: 20em;
  padding-left: 1em;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button-number {
  font-size: 2em;
  display: flex;
  align-items: center;
  margin: 0.25rem 0.25rem;
  aspect-ratio: 1/1;
  background-color: var(--cell-bg-color);
  border-radius: 0.5rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  user-select: none;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.sudoku-button {
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;

  background-color: var(--cell-bg-color);
  border: 2px solid var(--cell-bg-color2);
  border-radius: 100%;
  padding: 1em;
}

.sudoku-button:disabled {
  background-color: var(--cell-bg-color2);
  cursor: auto;
}

.sudoku-button-icon {
  width: 2em;
  height: 2em;
}

.sudoku-button-text {
  margin-top: 0.5em;
  text-align: center;
  user-select: none;
  font-size: 0.9em;
}

.notes-mode {
  position: absolute;
  padding: 0.25em 0.5em;
  top: -0.5em;
  right: -1em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
}

.notes-button-border {
  border: 2px solid rgb(11, 163, 252);
}

.notes-mode.on {
  background-color: rgb(11, 163, 252);
}

.notes-mode.off {
  background-color: rgb(139, 137, 137);
}

.clues-counter {
  position: absolute;
  padding: 0.25em 0.5em;
  top: -0.5em;
  right: -0.5em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  background-color: rgb(11, 163, 252);
}

.clues-counter.off {
  background-color: rgb(139, 137, 137);
}

.bottom-row-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (hover: hover) {
  .sudoku-button:hover {
    background-color: rgb(199, 199, 164);
  }

  .button-number:hover {
    background-color: var(--cell-bg-color2);
  }
}

@media (hover: none) {
  .button-number:active {
    background-color: var(--cell-bg-color2);
  }

  .sudoku-button:active {
    background-color: var(--cell-bg-color2) !important;
  }
}

@media (width <= 360px) {
  .sudoku-menu {
    width: auto;
    padding-left: 0;
    max-width: 30em;
    margin-top: 1em;
  }

  .button-row {
    justify-content: space-around;
    width: auto;
    margin: 0.5em 1em 1em;
  }
  .sudoku-button {
    font-size: 0.8em;
    padding: 0.5em;
  }

  .sudoku-button-text {
    display: none;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button-number {
    -webkit-tap-highlight-color: transparent;
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
  }
}

@media (360px < width <= 480px) {
  .sudoku-menu {
    width: auto;
    padding-left: 0;
    max-width: 30em;
    margin-top: 1em;
  }
  .sudoku-button {
    font-size: 0.8em;
    padding: 0.7em;
  }

  .sudoku-button-text {
    display: none;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button-number {
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
  }

  .button-row {
    justify-content: space-around;
    width: auto;
    margin: 0.5em 1em 1em;
  }
}

@media (480px < width <= 768px) {
  .sudoku-menu {
    margin: auto;
    margin-top: 1em;
    padding-left: 0;
    width: 30em;
  }
  .sudoku-button {
    padding: 0.5em;
  }

  .sudoku-button-text {
    display: none;
  }

  .button-row {
    justify-content: space-around;
  }

  .numbers {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
  }

  .button-number {
    width: auto;
    font-size: 1.4em;
    aspect-ratio: 1/1;
    border-radius: 0.2em;
    margin: 0;
    margin-right: 0.1em;
  }
}
