.difficulty_row {
  font-size: 1em;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  user-select: none; /* Standard syntax */
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.game_buttons {
  margin-left: auto;
}

.errors_flex {
  display: flex;
}

.time_flex {
  display: flex;
}

@media (width <= 360px) {
  .errors_flex {
    flex-direction: column;
    text-align: center;
  }
  .time_flex {
    flex-direction: column;
    text-align: center;
  }
  .difficulty_row {
    font-size: 0.75em;
    margin-bottom: 0.5em;
  }

  .difficulty_button {
    font-size: 0.75em;
  }

  .difficulty_button-active {
    font-size: 0.75em;
  }

  .header_container {
    flex-direction: column;
  }
}

@media (360px < width <= 480px) {
  .errors_flex {
    flex-direction: column;
    text-align: center;
  }

  .time_flex {
    flex-direction: column;
    text-align: center;
  }
  .header_container {
    flex-direction: column;
  }
}

@media (480px < width <= 768px) {
  .header_container {
    flex-direction: column;
  }
}
